$breakpoints: (xs: 0,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px,
	xxl: 1400px);

/* TURQUOISE */
$turquoise-base: #2BE7B4;
$turquoise-highlight: #7CFEDA;
$turquoise-light: #EFFDF9;
$turquoise-dark: #004C37;
$turquoise-darker: #022C20;

/* INDIGO */
$indigo-base: #5025ED;
$indigo-highlight: #C4B3FF;
$indigo-light: #F1EEFE;
$indigo-dark: #2C1A72;
$indigo-darker: #130D2E;

/* CORAIL */
$corail-base: #FF4A22;
$corail-highlight: #FF957C;
$corail-light: #FFF1EE;
$corail-dark: #8D1A02;
$corail-darker: #3D1008;
